<li>
	{{name}}

	<button class="change-completed" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-task" data-id="{{this.id}}">DELETE!</button>
</li>