<li>
	{{name}}

	<button class="change-completed" data-id="{{id}}" data-newcompleted="{{completed}}">
		{{#if completed}}In Progress{{else}}Completed{{/if}}
	</button>

	<button class="delete-task" data-id="{{this.id}}">DELETE</button>
</li>